<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
		
  	  <!-- settings -->
  	  <settings>
  		  <setting name="mapUnderscoreToCamelCase" value="true" />
	  </settings>
	  
	  <!-- typeAliases -->
	  <typeAliases>
  		  <typeAlias alias="DetailDTO" type="com.gdu.semi.domain.DetailDTO" />
  		  <typeAlias alias="QnaDTO" type="com.gdu.semi.domain.QnaDTO" />
  		  <typeAlias alias="PersonDTO" type="com.gdu.semi.domain.PersonDTO" />
  		  <typeAlias alias="SleepPersonDTO" type="com.gdu.semi.domain.SleepPersonDTO" />
  		  <typeAlias alias="LeavePersonDTO" type="com.gdu.semi.domain.LeavePersonDTO" />
	  </typeAliases>
  	  
</configuration>